/* all counter buttons */

.counterButton {
  background-color: #bf5a5a;
  color: white;
  font-size: 1rem;
  padding: 1rem 1.6rem;
  text-align: center;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: #d98989;
}

/* container for the counters */

.counters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.1rem;
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}

/* single counter panel */

.counter {
  background-color: #4e3473;
  padding: auto;
  border-radius: 4px;
  padding: 1.6rem;
  margin: 1.6rem;
  border: 2px solid #271c40;
}

/* display team name below counters */

.teamName {
  font-size: 1.6rem;
  color: white;
  font-family: "bellerose";
}
