/* footer */

.footer {
  background-color: rgb(28, 66, 61);
  text-align: center;
  padding: 1.6rem;
  color: white;
  font-family: "bellerose";
  font-size: 1.3rem;
}

/* social icons */

.social {
  margin: 0.7rem;
}
