/* 'show teams' button */

.teamUp {
  background-color: #a600ac;
  color: white;
  padding: 1rem 5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  border-color: #d98989;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

/* single game panel */

.panel {
  background-color: #4e3473;
  border-radius: 4px;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  display: block;
  border: 2px solid #271c40;
}

/* team one and team two name lists */

.teamNumber {
  color: white;
  font-family: "bellerose";
  font-size: 1.9rem;
  font-style: bold;
}

/* name list items */

.list-group-item {
  color: white;
  font-family: "bellerose";
  font-size: 1.3rem;
  list-style: none;
}
