/* header */

.header {
  background-color: #4e3473;
  text-align: center;
  border-radius: 4px;
  padding: 1.3rem;
}

/* header title */

.title {
  font-family: "bellerose";
  font-size: 4rem;
  color: white;
  margin-bottom: 1.6rem;
}
