@import "./styles/figure.css";
@import "./styles/header.css";
@import "./styles/footer.css";
@import "./styles/four_oh_four.css";
@import "./styles/gen_teams.css";
@import "./styles/add_players.css";
@import "./styles/counter.css";

@font-face {
  font-family: "bellerose";
  font-weight: normal;
  src: url("./fonts/Bellerose.ttf");
}

.container {
  background-color: #065f73;
}
