@import "./styles/figure.css";
@import "./styles/header.css";
@import "./styles/footer.css";
@import "./styles/four_oh_four.css";
@import "./styles/gen_teams.css";
@import "./styles/add_players.css";
@import "./styles/counter.css";

@font-face {
  font-family: "bellerose";
  font-weight: normal;
  src: url("./fonts/Bellerose.ttf");
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}
@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
}

html {
  font-size: 100%;
}

.container {
  background-color: #065f73;
}
